<app-banner [event]="evento" [mostrarBusca]="false"></app-banner>
<section class="container">

  <div class="escolha">
    <ul class="filtro">
<!--      <li>Filtrar por:</li>-->
<!--      <li>Todos</li>-->
<!--      <li>VIP</li>-->
<!--      <li>Premium</li>-->
<!--      <li>Camarote</li>-->
<!--      <li>Pista</li>-->
<!--      <li>-->
<!--        <ng-select [items]="ordemPreco"-->
<!--                   placeholder="Preço"-->
<!--                   [clearable]="false"-->
<!--                   [searchable]="false"-->
<!--                   [(ngModel)]="ordemPrecoSelecionada"-->
<!--                   name="ordemPrecoSelecionada"-->
<!--                   id="pais"-->
<!--                   class="select">-->
<!--        </ng-select>-->
<!--      </li>-->
    </ul>

    <div class="ingresso" >
      <h1>Escolha seu ingresso</h1>

      <div *ngFor="let section of evento.sections" style="margin-bottom: 1em">
        <p-card>
          <app-escolha-ingresso [section]="section" (change)="addCart($event)"></app-escolha-ingresso>
        </p-card>
      </div>
    </div>

    <ng-template [ngIf]="isMobile" >
      <div class="assento">
        <p-accordion>
          <p-accordionTab header="Ver mapa do ambiente">
            <div style="background: #1c1f1f; height: 100%" >
              <img src="/assets/mapa-ambiente.png">
            </div>
          </p-accordionTab>

        </p-accordion>
      </div>
    </ng-template>

      <div class="assento" *ngIf="cartService.getQuantityItemCart() > 0">
        <h1>Seus ingressos</h1>
        <p-card>
<!--          <img src="/assets/mapa-ambiente.png" style="width: 100%; height: 360px">-->

            <div *ngFor="let ticket of cartService.order.tickets; let indexId = index;">
              <div class="row">

                <div class="p-col-12 p-md-12 p-lg-12">
                  <h1>{{ticket.event.name}}</h1>
                  <p>Quantidade: {{ticket.quantity}} - {{ticket.section.name}}</p>
                  <h1 class="subtotal">R{{(ticket.section.ammount * ticket.quantity) | currency}}</h1>
                  <div class="ui-button-primary" (click)="cartService.removeTicketCart(indexId)">
                    <a>Excluir</a>
                  </div>
                </div>

                <hr>
              </div>

            </div>

            <div class="p-grid totalizacao">
              <div class="p-col-12 p-md-12 p-lg-12">
                <div class="p-grid">

                  <div class="p-col-12 p-md-6 p-lg-6" >
                    <div style="width: 100%">
                      <h3>Total a pagar: R{{cartService.getTotalValue() | currency}}</h3>
                    </div>
                  </div>
                </div>
              </div>

              <div class="p-col-12 p-md-12 p-lg-12">
                <div class="p-grid">
                  <div class="p-col-12 p-md-12 p-lg-12">
                    <button label="Finalizar Pedido"
                            pButton class="ui-button-primary"
                            style="display: block; margin: 0 auto"
                            routerLink="/checkout/carrinho">

                    </button>
                  </div>
                </div>
              </div>

            </div>

        </p-card>
      </div>

    <div class="local-evento">
     <p-card>
       <img src="/assets/mapa.png" style="width: 100%; height: 100%"/>
     </p-card>
    </div>
  </div>


</section>
