<section class="container">
  <p-card>
    <section class="p-grid p-dir-col registrar">
      <div class="p-col titulo">Nova conta</div>
      <form [formGroup]="resourceForm" (submit)="submitForm()" style="width: 100%">
        <div class="p-col">

          <span class="ui-float-label">
            <input type="text" class="ui-inputtext" id="nmUser" formControlName="nmUser">
            <label for="nmUser" *ngIf="!resourceForm.get('nmUser').value">Nome</label>
          </span>
          <app-form-field-error [form-control]="resourceForm.get('nmUser')"></app-form-field-error>

        </div>

        <div class="p-col">
          <span class="ui-float-label">
            <input type="text" class="ui-inputtext" id="dsEmail" formControlName="dsEmail">
            <label for="dsEmail" *ngIf="!resourceForm.get('dsEmail').value">Email</label>
          </span>
          <app-form-field-error [form-control]="resourceForm.get('dsEmail')"></app-form-field-error>
        </div>

        <div class="p-col">
          <span class="ui-float-label">
            <p-inputMask type="text" mask="+99 (99)-99999-9999" styleClass="ui-inputtext" id="nuCel" formControlName="nuCel"></p-inputMask>
            <label for="nuCel" *ngIf="!resourceForm.get('nuCel').value">Número celular</label>
          </span>
          <app-form-field-error [form-control]="resourceForm.get('nuCel')"></app-form-field-error>
        </div>

        <div class="p-col">
          <button pButton label="Registrar"
                  class="ui-button-primary"
                  style="margin: 0 auto; display: block"></button>
        </div>
      </form>

      <div class="p-col">
        <hr>

        <div style="text-align: center" class="p-grid">
          <div class="p-col-12 p-md-12 p-lg-6">
            <span>Já possui uma conta? </span>
          </div>
          <div class="p-col-12 p-md-12 p-lg-6">
            <a routerLink="/conta/login">Realizar login</a>
          </div>

        </div>
      </div>
    </section>


  </p-card>
</section>
