<section class="container">

        <div class="carrinho">
            <div class="titulo-carrinho">
                <h1>Meus Pedidos</h1>
                <p></p>
            </div>

            <div class="p-grid eventos" *ngFor="let order of myOrders; let indexId = index;">
                <div class="p-col-12 p-md-12 p-lg-12 infos-evento">
                    <h1>Pedido: #{{order.id}}</h1>
                    <p><strong>Status: </strong>{{getStatusOrder(order.status)}}</p>
                    <p><strong>Data: </strong>{{order.dtCreate | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
                    <p><strong>Taxa de serviço: </strong>{{order.fees | currency}}</p>
                    <p *ngIf="order.paymentRequest != null"><strong>Valor Total: R</strong>{{order.paymentRequest.vlAmount | currency}}</p>
                    <br>
                    <p-accordion expandIcon="pi pi-fw pi-plus" collapseIcon="pi pi-fw pi-minus" >
                        <p-accordionTab header="Ingressos" (click)="getSectionTicket(order)">
                            <div *ngFor="let ticket of order.items; let indexId = index;">
                                <div *ngIf="ticket.sectionRequest != null && ticket.sectionRequest.eventRequest != null">
                                    <p><strong>Evento:</strong>{{ticket.sectionRequest.eventRequest.name}}</p>
                                    <p><strong>Setor:</strong>{{ticket.sectionRequest.name}}</p>
                                    <p><strong>Valor:</strong>R{{ticket.sectionRequest.ammount | currency}}</p>
                                    <br>
                                    <hr>
                                </div>
                            </div>
                        </p-accordionTab>
                    </p-accordion>
                    <hr>
                </div>
            </div>
        </div>

</section>

