<section class="container">

        <div class="carrinho">
            <div class="titulo-carrinho">
                <h1>Meus Pedidos</h1>
                <p></p>
            </div>

            <div class="p-grid eventos" *ngFor="let order of myOrders; let indexId = index;">
                <div class="p-col-12 p-md-12 p-lg-12 infos-evento">
                    <h1>Pedido: #{{order.id}}</h1>
                    <p><strong>Status: </strong>{{getStatusOrder(order.status)}}</p>
                    <p><strong>Data: </strong>{{order.dtCreate | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
                    <p><strong>Taxa de serviço: </strong>{{order.fees | currency}}</p>
                    <p *ngIf="order.idPayment != null"><strong>Valor Total: </strong>{{getTotalValue(order)}}</p>
                    <hr>
                </div>
            </div>
        </div>

</section>

