<div class="banner">

  <picture class="imagem-evento">
    <source media="(min-width: 900px)" [srcset]="loadBannerImage(event)">
    <source media="(min-width: 600px)"  [srcset]="loadBannerImage(event)">
    <img [src]="loadBannerImage(event)" alt="IfItDoesntMatchAnyMedia">
  </picture>

  <ng-template [ngIf]="event">
    <div class="infos-evento">

      <a routerLink="/checkout/evento"><h1>{{ event.name }}</h1></a>
      <p>{{ event.date | date: 'dd/MM/yyyy - H:mm'}}</p>
      <a (click)="navigateToCategoria(local, event)">
        {{ event.localization.localization }},</a>&nbsp;&nbsp;

      <a (click)="navigateToCategoria(pais, event)">
        {{ event.localization.country.description }},</a>&nbsp;&nbsp;

      <a (click)="navigateToCategoria(cidade, event)">
        {{ event.localization.city.description }}</a>
      <br>
      <a (click)="navigateToCategoria(nome, event)">{{ event.name }}</a>
      <p style="margin-bottom: 1em">Ingressos a partir de R{{ event.sections[0].ammount | currency}}</p>

      <div [ngStyle]="{'display': mostrarBusca && !isMobile ? 'block' : 'none' }">
        <app-input-busca (change)="searchEvents($event)"></app-input-busca>
      </div>
    </div>
  </ng-template>

</div>
