<section class="container">
  <h1>Finalizar pedido</h1>
  <section class="p-grid finalizar-pedido">
    <div class="p-col-12 p-md-6 p-lg-4">
      <div class="passo-pedido">
        <h1>Meus detalhes</h1>
        <form>
          <app-input-texto id="nome" disabled="true"
                           [placeholder]="'Nome Completo'"
                           [label]="'Nome'"
                           [(ngModel)]="cliente.nome" name="nome">
          </app-input-texto>
          <br>
          <app-input-texto id="email" disabled="true"
                           [placeholder]="'E-mail'"
                           [label]="'E-mail'"
                           [(ngModel)]="cliente.email" name="email">
          </app-input-texto>
          <br>
          <app-input-texto id="celular" disabled="true"
                           [placeholder]="'Celular'"
                           [label]="'Celular'"
                           [(ngModel)]="cliente.celular" name="celular">
          </app-input-texto>
        </form>
      </div>
    </div>


    <div class="p-col-12 p-md-6 p-lg-4">Confirmar

      <div class="passo-pedido">
        <h1>Método de Pagamento</h1>
        <ul class="metodos-pag">
          <li>
            <p-radioButton name="group1"
                           value="BOLETO"
                           label="Boleto Bancário"
                           [(ngModel)]="metodoPagamento"
                           inputId="boleto">
            </p-radioButton>
          </li>
          <li>
            <p-radioButton name="group1"
                           value="DEBITO"
                           label="Débito"
                           [(ngModel)]="metodoPagamento"
                           inputId="debito">
            </p-radioButton>
          </li>
          <li>
            <p-radioButton name="group1"
                           value="CREDITO"
                           label="Credito"
                           [(ngModel)]="metodoPagamento"
                           inputId="credito">
            </p-radioButton>
          </li>
        </ul>
      </div>
    </div>

    <div class="p-col-12 p-md-12 p-lg-4">
      <p-card>
        <div class="passo-pedido">
          <h1>Confirmar</h1>
          <div>
            <div class="infos-evento">
              <div class="conteudo-horizontal">
                <h4>Custo do serviço</h4>
                <h4>R{{cartService.getTotalFees() | currency}}</h4>
              </div>
              <div class="conteudo-horizontal">
                <h4>Custo dos ingressos</h4>
                <h4>R{{cartService.getTotalValue() | currency}}</h4>
              </div>
              <hr>

              <div class="conteudo-horizontal">
                <h3>Total a pagar</h3>
                <h2>R{{cartService.getTotalValueAndTotalFees() | currency}}</h2>
              </div>

              <div class="p-field p-grid">
                <button label="Finalizar Pedido" (click)="finalizarPedido()"
                        pButton class="ui-button-primary largura-total"></button>
              </div>

              <a routerLink="/">Continuar comprando</a>

            </div>
          </div>
        </div>
      </p-card>
    </div>

  </section>

</section>
